.recipe-hero {
    box-shadow: inset 0 -50px 100px -20px rgba(0,0,0,0.8);
    transition: all 0.3s ease;
}

/* Navegación del carrusel */
.img-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    backdrop-filter: blur(4px);
    transition: all 0.2s ease;
}

.img-nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-50%) scale(1.1);
}

.img-nav-left { left: 20px; }
.img-nav-right { right: 20px; }

html {
    scroll-behavior: smooth;
}


.hover-like {
    transition: all 0.2s ease;
}
.hover-like:hover {
    color: #FF7B54 !important;
    background-color: #fff9f6 !important;
}

.btn-green-outline {
    border: 2px solid #bdf2c3;
    background-color: transparent;
    color: #292929;
    transition: all 0.3s ease;
}

.btn-green-outline:hover {
    background-color: #bdf2c3;
    color: #1a5928;
}

.btn-favorite-detail {
    background-color: white;
    border: 2px solid #f8f9fa;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    color: #2d3436;
}

.btn-favorite-detail:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-color: #ff7b54; /* El naranja que usas en badges */
}

.btn-favorite-detail i {
    font-size: 1.2rem;
}

.text-danger {
    color: #e74c3c !important;
}

.rating-box {
    transition: all 0.3s ease;
    border-color: #f1f2f6 !important;
}

.rating-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08) !important;
}

.star-active {
    color: #f1c40f; /* Amarillo oro */
    text-shadow: 0 0 10px rgba(241, 196, 15, 0.3);
}

.star-empty {
    color: #ced4da;
}

.star-active, .star-empty {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.star-active:hover, .star-empty:hover {
    transform: scale(1.3);
}