<div class="login-page-wrapper">
    <div class="login-container">

        <!-- Formulario de Login -->
        <div class="login-form-area">

            <div class="login-form-content">
                <h1 class="login-title">Bienvenido de nuevo</h1>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="login-form-group">
                        <label class="login-label">Email</label>
                        <input type="email" class="login-input" formControlName="email">
                        <div class="text-danger small mt-1" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            <span *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                            <span *ngIf="loginForm.get('email')?.errors?.['email']">Introduce un correo válido.</span>
                        </div>
                    </div>

                    <div class="login-form-group">
                        <label class="login-label">Contraseña</label>
                        <input type="password" class="login-input" formControlName="password">
                        <div class="text-danger small mt-1" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            <span *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                        </div>
                    </div>

                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>

                    <button type="submit" class="btn-login-submit">Iniciar sesión</button>
                </form>

                <p class="login-footer-text">
                    ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
                </p>
            </div>

        </div>

        <!-- Imagen -->
        <div class="login-image-area">
            <img src="/assets/portada.png" alt="Cooking Illustration">
        </div>

    </div>
</div>
